{% extends 'base.html.twig' %}

{% block title %}Hello Home Controlle de Symfony!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<a href="{{ path('app_tableau_bord') }}"> 
    tableau de bord
</a>
{% endblock %}
